<div class="row row-links-mini">
    {% for link in contact_page.meta('enlaces') %}
        <div class="col-12 col-md-2">
            {% set current = '' %}
            {% if post.slug in link.enlace.url %}
                {% set current = 'active' %}
            {% endif %} 

            <a href="{{ link.enlace.url }}" class="{{ current }} link-box">
                {% set icon = Image(link.icono) %}

                <picture>
                    <source srcset="{{ icon.src|resize(32, 32)|towebp(100) }}" type="image/webp">
                    <source srcset="{{ icon.src|resize(32, 32)|tojpg }}" type="image/jpeg">

                    <img src="{{ icon.src }}" alt="{{ icon.alt }}" loading="lazy">

                </picture>
                <h2>{{ link.enlace.title }}</h2>
            </a>
        </div>
    {% endfor %}
</div>

<div class="row-links-mini links-mini-mobile owl-carousel owl-themes">

    {% for link in contact_page.meta('enlaces') %}
        {% set current = '' %}
        {% if post.slug in link.enlace.url %}
            {% set current = 'active' %}
        {% endif %} 

        <div class="item">
            {% set icon = Image(link.icono) %}

            <a href="{{ link.enlace.url }}" class="{{ current }} link-box">
                <picture>
                    <source srcset="{{ icon.src|resize(32, 32)|towebp(100) }}" type="image/webp">
                    <source srcset="{{ icon.src|resize(32, 32)|tojpg }}" type="image/jpeg">

                    <img src="{{ icon.src }}" alt="{{ icon.alt }}" loading="lazy">

                </picture>
                <h2>{{ link.enlace.title }}</h2>
            </a>
        </div>
    {% endfor %}
</div>